version: '3.9'
name: echo-chambers-detection-proj
networks: 
  echo-chamber-net:

services:
  graph-db:
    image: neo4j:latest
    container_name: graph-db-neo4j
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      NEO4J_AUTH: "${NEO4J_USER}/${NEO4J_PASSWORD}"
      NEO4J_PLUGINS: '["graph-data-science"]'
    networks:
      - echo-chamber-net
    volumes:
    - neo4j-data:/data 

  postgres-db:
    image: postgres:latest
    container_name: postgres-communities
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    networks:
      - echo-chamber-net
    volumes:
    - postgres-data:/var/lib/postgresql

  vector-db:
    image: qdrant/qdrant:latest
    container_name: vector-db-qdrant
    ports:
      - 6333:6333
    networks:
      - echo-chamber-net
    volumes:
      - qdrant-data:/qdrant/storage

  broker:
    image: apache/kafka:latest
    container_name: broker-kafka
    hostname: broker
    networks:
      - echo-chamber-net
    ports:
      - "29092:29092"

    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      # LISTENERS (bind)
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093

      # ADVERTISED (what clients see)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: ${KAFKA_CLUSTER_ID}


  echo-chambers-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: echo-chambers-app
    env_file:
    - .env
    depends_on:
      - broker
      - graph-db
      - vector-db
      - postgres-db
    networks:
      - echo-chamber-net
    restart: "no"
    volumes:
      - ./reports:/data/reports
    environment:
      REPORT_DIR: /data/reports

volumes:
  neo4j-data:
  postgres-data:
  qdrant-data: